body{
    display: flex;
    flex-direction: column;
}

.container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
    margin: 50px;
    align-items: center;
 }

.container label{
    margin: 0 auto;
    font-style: 'San serif';
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}


#generatedPassword{
    background: rgba(255, 0, 0, .2);
    width: 20%;
}

.container button{
    margin: 10px 150px;
    background: rgba(0,0,255,.70); 
    color: white;
    border-radius: 10px;
    height: 30px;   
}

.container button:focus{
 outline: none;    
   
}